<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  

  <xacro:arg name="use_camera" default="true"/>
  <xacro:arg name="use_gazebo" default="true"/>

  
    <link name="camera_link">
        <visual>
            <geometry>
            <mesh filename="file://$(find deli_description)/meshes/visual/camera_link.dae" />
            </geometry>
        </visual> 
        <collision>
        <geometry>
            <mesh filename="file://$(find deli_description)/meshes/collision/camera_link.STL" />
        </geometry>
        </collision>    
        <inertial>
        <origin xyz="3.07183329686413E-06 -0.00663656264147928 0.0383051566033017" />
        <mass value="0.051264410041714" />
        <inertia ixx="7.88058511874274E-06" ixy="1.16743639796377E-09" ixz="-5.03110270057242E-10" iyy="2.14607681391912E-05" iyz="9.23166160522923E-07" izz="1.51821308345286E-05" />
        </inertial>
    </link>  

    <joint name="camera_joint" type="fixed">
        <origin xyz="-0.0288 0 0.048" rpy="-1.5708 0 0" />
        <parent link="link_4" />
        <child link="camera_link" />
        <axis xyz="0 0 0" />
    </joint>

</robot>